{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<h1>Moje przypisania</h1>
<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Do kiedy</th>
        <th scope="col">Zadane przez</th>
        <th scope="col">Status</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in my_assignments_active %}
        {% now "Y-m-d H:m:s" as todays_date %}
        
        <tr class="
        {% if todays_date > assignment.due_date|date:"Y-m-d H:m:s" and assignment.status.name == 'Wysłany' %}
        table-danger
        {% elif assignment.status.name == 'Odesłany'%}
        table-primary
        {% endif %}
        ">
            <th scope="row">{{ assignment.id }}</th>
            <td>{{ assignment.due_date|format_date }}</td>
            <td>{{ assignment.assigned_by.username }}</td>
            <td>{{ assignment.status.name }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'assignment_page_by_id' assignment.pk %}" role="button">Link</a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br/>
  <br/>
  <br/>
  <h1>Zaakceptowane przypisania</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Do kiedy</th>
        <th scope="col">Zadane przez</th>
        <th scope="col">Status</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in my_assignments_accepted %}
      <tr class="{% if assignment.status.name == 'Zaakceptowany' %}table-success{% endif %}">
          <th scope="row">{{ assignment.id }}</th>
          <td>{{ assignment.due_date|format_date }}</td>
          <td>{{ assignment.assigned_by.username }}</td>
          <td>{{ assignment.status.name }}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'assignment_page_by_id' assignment.pk %}" role="button">Link</a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}