{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<style>
    .btn-custom {
      padding: 10px;
      width: 150px;
      font-size: 20px;
    }
    .btn-success {
        width: 150px;
    }
</style>
    <h1>Przypisanie #{{assignment.id}}</h1>
    <h4>Dla: {{ assignment.assigned_user }}
    <h4>Przez: {{assignment.assigned_by}}
    <h4>Do: {{assignment.due_date|format_date}}</h3>
    <h4>Status: {{assignment.status.name}}</h4>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Przypisane zadania</th>
          </tr>
        </thead>
        <tbody>
        {% if tasks %}
            {% for task in tasks %}
            <tr>
                <td>
                  <a class="btn btn-primary btn-lg btn-custom" href="{% url 'task_page_by_id' task.pk %}" role="button">Zadanie #{{task.id}}</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <button type="button" class="btn btn-warning mb-4">Pobierz wszystkie jako PDF</button>
    {% if responses %}
    <h4> Odpowiedzi </h4>
        {% for response in responses %}
        <div class="card">
            {% now "Y-m-d H:m:s" as todays_date %}
            <div class="d-flex card-header">
                <div class="me-auto ">
                {{ response.0.author }}
                </div>
                <div class="ms-auto text-muted">
                    #{{ response.0.id }}
                </div>
            </div>
            {% if response.0.description %}
            <div class="card-body">
                {{ response.0.description }}
            </div>
            {% endif %}

            {% if response.1 %}
                <ul class="list-group list-group-flush">
                    {% for file in response.1 %}
                        <li class="list-group-item"><a href="/media/{{ file.file }}">{{file.name}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if todays_date > assignment.due_date|date:"Y-m-d H:m:s" %}
            <div class="card-footer text-muted bg-warning">
                {{ response.0.date_created|format_date }}
                - Po czasie
            </div>
            {% else %}
            <div class="card-footer text-muted">
                {{ response.0.date_created|format_date }}

            </div>
            {% endif %}
        </div>
        <br/>
        {% endfor %}
    {% endif %}
    {% if assignment.status.name != "Zaakceptowany"%}
        <h4> Dodaj odpowiedź </h4>
        <form method="POST" enctype="multipart/form-data" action="{% url 'upload_response' assignment.id %}">
            {% csrf_token %}
            {% comment %} {% if form.errors %}
            <div class="alert alert-danger mt-3" role="alert">
                <strong>Formularz zawiera błędy:</strong>
                <ul>
                    {% for field, error in form.errors.items %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %} {% endcomment %}
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Pliki</label>
                <input class="form-control" type="file" id="formFileMultiple" name="files" multiple>
            </div>
            {% if request.user == assignment.assigned_by %}
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="formAcceptTask" name="acceptTask" multiple>
                <label for="formAcceptTask" class="form-check-label">Zaakceptuj zadanie</label>
            </div>
            {% endif %}
            <div class="d-flex justify-content-end mb-5 ">
                <button type="submit" class="btn btn-success">Wyślij</button>
            </div>
        </form>
    {% endif %}
{% endblock %}