{% extends 'base.html' %}
{% block content %}
{% if tasks %}

    <h1>Koszyk zadań</h1>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Przedmiot</th>
            <th scope="col">Poziom</th>
            <th scope="col">Dział</th>
            <th scope="col">Temat</th>
            <th scope="col">Trudność</th>
            <th scope="col">Autor</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% if tasks %}
            {% for task in tasks %}
            <tr>
                <th scope="row">{{task.id}}</th>
                <td>{{ task.topic.type.subject.name }}</td>
                <td>{{ task.level.name }}</td>
                <td>{{ task.topic.type.name }}</td>
                <td>{{ task.topic.name }}</td>
                <td>{{ task.difficulty }}</td>
                <td>{{ task.author.username }}</td>
                <td>
                  <a class="btn btn-danger remove-from-cart" data-task-id="{{ task.id }}" href="{% url 'cart' %}">Usuń</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
    <br/>
    <button type="button" id="generatePDF" class="btn btn-warning mb-4" style="float: right">Generuj PDF</button>
    <button type="submit" id="clearCart" href="{% url 'cart' %}" class="btn btn-danger mb-4 ms-2 me-2">Wyczyść koszyk</button>
    <form method="POST" class="row g-3" enctype="multipart/form-data" action="{% url 'cart' %}">
        {% csrf_token %}
        <div class="cold-md-6">
            <label for="search-user">Przypisz ucznia</label>
            <br/>
            {% include 'search_user.html' %}
        </div>
        <div class="col-md-3">
            <label for="data_i_godzina">Wybierz datę i godzinę</label>
            <input type="datetime-local" id="data_i_godzina" name="deadline" class="form-control">
        </div>
        <br/>
        <div class="mt-5">
            <button type="submit" class="btn btn-success">Przypisz</button>
        </div>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger mt-3" role="alert">
        <strong>Formularz zawiera błędy:</strong>
        <ul>
            {% for field, error in form.errors.items %}
            <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% else %}
    <h1> Koszyk jest pusty </h1>
{% endif %}



      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header" id="toast-header">
            <strong id="toast-title" class="me-auto" style="color: #fff;"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" id="toast-body">
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    
    $(document).ready(function () {

        $('.remove-from-cart').click(function (event) {
            event.preventDefault();
            const taskId = $(this).data('task-id');
        
            // Wyślij żądanie POST do endpointu /add_task_to_cart z identyfikatorem zadania
            $.ajax({
              url: '/remove_task_from_cart/',
              type: 'POST',
              data: { 
                'task_id': taskId,
                csrfmiddlewaretoken: '{{ csrf_token }}' 
              },
              dataType: 'json',
              success: function (data) {
                console.log("asas")
                const toastHeader = document.getElementById('toast-header')
                const toastLive = document.getElementById('liveToast')
                const toastBody = document.getElementById('toast-body')
                const toastTitle = document.getElementById('toast-title')
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive)
                toastBody.innerHTML = data.message
                if (data.success) {
                  toastTitle.innerHTML = "Sukces"
                  toastHeader.style.backgroundColor = '#03ad20';
                  toastBootstrap.show();
                  location.reload();
                } else {
                  toastTitle.innerHTML = "Błąd"
                  toastHeader.style.backgroundColor = '#b30505';
                  toastBootstrap.show();
                }
              },
              error: function () {
                alert('Wystąpił błąd podczas komunikacji z serwerem.');
              }
            });
        });

        $('#generatePDF').click(function (event) {
          event.preventDefault();
          $.ajax({
              url: '/generatePDF_from_tasks/',
              type: 'POST',
              data: { 
                csrfmiddlewaretoken: '{{ csrf_token }}' 
              },
              dataType: 'json',
              success: function (data) {
                console.log("Wygenerowano plik")
                console.log(data.file_path)
                file_path = data.file_path
                var downloadLink = document.createElement("a");
                downloadLink.href = '/download_pdf/?file_name=' + data.file_path;
                downloadLink.download = 'zadania.pdf';
                downloadLink.id = "downloadLink"; // dodaj ID do linku
                document.body.appendChild(downloadLink); // dodaj link do ciała dokumentu

                downloadLink.click(); // pobierz plik
                
                // usuń link po pobraniu pliku
                downloadLink.addEventListener('click', function () {
                    document.body.removeChild(downloadLink);
                });
              },
              error: function () {
                alert('Wystąpił błąd podczas komunikacji z serwerem.');
              }
            });
        })
        $('#clearCart').click(function (event) {
            event.preventDefault();
            $.ajax({
              url: '/cart/clear/',
              type: 'POST',
              data: { 
                csrfmiddlewaretoken: '{{ csrf_token }}' 
              },
              dataType: 'json',
              success: function (data) {
                const toastHeader = document.getElementById('toast-header')
                const toastLive = document.getElementById('liveToast')
                const toastBody = document.getElementById('toast-body')
                const toastTitle = document.getElementById('toast-title')
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive)
                toastBody.innerHTML = data.message
                  toastTitle.innerHTML = "Sukces"
                  toastHeader.style.backgroundColor = '#03ad20';
                  toastBootstrap.show();
                  location.reload();
              },
              error: function () {
                alert('Wystąpił błąd podczas komunikacji z serwerem.');
              }
            });
        })
    });
</script>
{% endblock %}

