{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>home strona</h1>
</div>
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
    };
</script>
    <div>
        $\setlength{\unitlength}{1cm}
        \begin{picture}(8,6)\thicklines
        \put(1,1){\line(3,4){3}}
        \put(4,5){\line(3,-4){3}}
        \put(1,1){\line(1,0){6}}
        \put(2.3,3.2){\textit{b}}
        \put(5.7,3.1){\textit{a}}
        \put(3.8,0.5){\textit{c}}
        \put(4,2.7){\textit{S}}
        \put(0.6,0.5){\textit{A}}
        \put(7.1,0.5){\textit{B}}
        \put(3.8,5.3){\textit{C}}
        \end{picture}$
    </div>
{% endblock %}