<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'lessons' %}">Lekcje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'assignments' %}">Moje przypisania</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'assigned_by_me' %}">Przypisania</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks' %}">Giełda zadań</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_task' %}">Dodaj zadanie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Koszyk</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>